<ion-modal-view>
  <ion-header-bar>
    <h3 class="title">Login</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="form" ng-submit="doLogin()">

      <div class="list">
        <label class="item item-input" ng-class="{'item-assertive': form.email.$touched && (form.email.$error.required || form.email.$error.email)}">
          <input type="email" name="email" placeholder="E-mail address" ng-model="loginData.email" required>
        </label>
        <label class="item item-input" ng-class="{'item-assertive': form.pass.$touched && form.pass.$error.required}">
          <input type="password" name="pass" placeholder="Password" ng-model="loginData.password" required>
        </label>
        <button class="button button-block button-energized" type="submit">Log in</button>
      </div>
    </form>
    <button class="button button-full button-positive" ng-click="fbLogin();closeLogin()">
      Login with Facebook
    </button>
    <button class="button button-full button-calm" ng-click="signup();closeLogin()">
        Signup
    </button>

  </ion-content>
</ion-modal-view>
